<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Password Generator</h1><hr>
    <div class="password">
        <form method="post">
            <h4><label for="length">Password Length:</label>
                <input type="number" name="length" id="length" >
            </h4>
            
            <button type="submit">Generate Password</button>
        </form>
        {% if password %}
            <h2>Generated Password:</h2>
            <p>{{ password }}</p>
        {% endif %}

    </div>
   
</body>
</html>
